* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: white;
    color: #333;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar-desktop .logo_img,
.navbar-mobile .logo_img {
    max-width: 120px;
    height: auto;
    padding:1rem;
}

/* Desktop Navigation Bar */
.navbar-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.navbar-mobile {
    display: none;
    padding: 1rem 2rem;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 5px;
}

.desktop_nav_links ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    text-decoration: none;
}

.desktop_nav_links a {
    text-decoration: none;
    color: #0d0d0d;
    font-size: 1rem;

}

.mobile_menu_icon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}


.mobile_nav_links {
    display: none;
    list-style: none;
    margin-top: 1rem;
}

.mobile_nav_links ul {
    list-style: none;
    flex-direction: column;
    padding: 1rem;
    background-color: #fff;

}

.mobile_nav_links a {
    text-decoration: none;
    color: #0d0d0d;
    font-size: 1rem;

}



button {
    background-color: #0d0d0d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 0.375rem;
    border-width: 1px;
}

/* Use Flexbox or Grid for layout across all main sections 
(navigation bar, hero, about, testimonials, footer)*/
.hero_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 525px;
    color: white;
}

.background_img {
    background-image: url('https://i.postimg.cc/mDhWQQck/waves-img.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: none;
    border-radius: 1rem;
}

.intro_text {
    text-align: center;
    margin-top: 20px;
}

.intro_text h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #0d0d0d;
}

.intro_text p {
    font-size: 1.5rem;
    color: #0d0d0d;
}

.intro_text img {
    width: 100%;
    height: auto;
    max-width: 600px;
    border-radius: 10px;
}

.hero_section button {
    background-color: #0d0d0d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 0.375rem;
    font-size: 1.2rem;
    margin-top: 20px;
}

button:hover {
    background-color: #333;
    cursor: pointer;
}

/* gallery section */
.gallery_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: lightblue;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 1rem;

}

.surfing_images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 64px;
    margin-top: 20px;
}

.surfing_images img {
    width: 30rem;
    height: 28rem;
    border-radius: 10px;
}

/* About Section */
.about_section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(244, 249, 250);
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 1rem;
}

.about_text h3 {
    padding: 0 20px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

.about_text p {
    padding: 20px;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
}

.feature-container {
    display: grid;
    justify-items: center;
    text-align: start;
    gap: 50px 100px;
    grid-template-columns: auto auto auto;
}

.feature_block {
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    margin-top: 20px;

}

.feature_block i {
    font-size: 2rem;
    color: #0d0d0d;
    margin-bottom: 10px;
}

.feature_block h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #0d0d0d;
}

.feature_block p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
}

/* Testimonials Section */
.testimonials_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: lightblue;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 1rem;
}

.testimonials_header h3 {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

.testimonials_header p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
}

.testimonial-container {
    padding: 20px;
    margin-top: 20px;
    display: grid;
    justify-items: center;
    text-align: start;
    gap: 50px 100px;
    grid-template-columns: auto auto auto;
}

.testimonial-content {
    display: flex;
    gap: 2rem;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    /* width: 100%; */
    max-width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.testimonial-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.testimonial-profile img {
    width: 80px;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonial-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
}

.testimonial-profile h5 {
    font-size: 1.1rem;
    line-height: 1.1;
    color: #333;
    margin-bottom: 15px;
}

.testimonial-profile span {
    font-size: 0.9rem;
    color: gray;
}

/* Footer section */
.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 1rem;
    margin: 0px;
}

.footer_content {
    display: flex;
    justify-content: space-between;
}

.footer_icons {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: column;
    padding: 1rem;
}

.footer-logo img {
    height: 20px;
    width: auto;
    display: block;
    padding: 10px;
    margin: 0;
}

.social_media a {
    color: #0d0d0d;
    font-size: 1.5rem;
    /* margin-left: 0; */
    text-decoration: none;
    padding: 5px;
    transition: font-size 0.3s ease;
}

.social_media a:hover {
    color: #ce3232;
    cursor: pointer;
    font-size: xx-large;
}

/* Updated twitter icon */
.fa.fa-twitter {
    font-family: sans-serif;
}

.fa.fa-twitter::before {
    content: "ùïè";
    font-size: 1.2em;
}

.footer_links {
    display: flex;
    /* flex-direction: column; */
    padding: 20px;
    margin-right: 50px;
}

.footer_links a {
    margin-top: 10px;
    text-decoration: none;
}

.about-link,
.courses-link,
.shop-link {
    margin: 10px;
    padding: 20px;
    color: cornflowerblue;
}

.about-link a:hover,
.courses-link a:hover,
.shop-link a:hover {
    color: #ce3232;
    cursor: pointer;
    font-size: 1.1rem;
}

.courses-link ul,
.shop-link ul {
    list-style-type: none;
}

.courses-link ul li a,
.shop-link ul li a {
    color: black;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

.map_navigation iframe {
    width: 400ox;
    height: 300px;
    border: 0;
    border-radius: 1rem;
    margin-top: 20px;
    padding: 30px;
}

.footer-logo img {
    width: 80px;
    height: auto;
}

/* Responsive designing */
/* For large desktops */
/* 1280px and above: Large desktops. */
@media screen and (min-width: 1280px) {
    .feature-container,
    .testimonial-container {
        grid-template-columns: auto auto auto auto;
        gap: 50px 100px;
    }
}
/* For tablets and small desktops */
/* 768px to 1279px: Tablets and small desktops. */
@media (max-width: 1279px) and (min-width: 769px) {
    .feature-container,
    .testimonial-container {
        grid-template-columns: auto auto;
        gap: 50px 100px;
    }
    .surfing_images img {
        height: auto;
        max-width: 300px;
    }
    iframe {
        width: 100%;
        height: auto;
        border: 0;
        border-radius: 1rem;
        margin-top: 20px;
        padding: 5px;
    }
}
/* For tablets */
@media (max-width: 768px) {
    .navbar-desktop {
        display: none;
    }

    .mobile_menu_icon {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .navbar-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }

    .mobile_nav_links.active {
        display: block;
    }

    .hero_section {
        height: auto;
        padding: 20px;
    }

    .intro_text h2 {
        font-size: 2rem;
    }

    .intro_text p {
        font-size: 1.2rem;
    }

    .surfing_images {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .surfing_images img {
        width: 100%;
        height: auto;
        max-width: 300px;
    }

    .about_text h3 {
        font-size: 1.5rem;
    }

    .feature-container,
    .testimonial-container {
        grid-template-columns: auto;
        gap: 20px;
    }

    .testimonial-content {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    .testimonial-card {
        padding: 1rem;
        width: 100%;
        max-width: 300px;
        height: auto;
        text-align: center;
        margin: 0 auto;
    }
    .footer_content {
        flex-direction: column;
    }
    .footer_icons {
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        align-items: start;
    }
    .footer-logo img {
        height: auto;
        display: block;
        padding: 10px;
        margin: 0;
    }

    .social_media a {
        font-size: 1rem;
        align-items: self-end;
        padding: 2px;
        margin-left: 5px;
    }
    .social_media a:hover {
        color: #ce3232;
        cursor: pointer;
    }
    .footer_links {
        margin: 0;
        padding: 10px;
        flex-direction: column;
        color:#0d0d0d;  
      }
    .map_navigation iframe {
        width: 100%;
        height: auto;
        border: 0;
        border-radius: 1rem;
        margin-top: 20px;
        padding: 10px;
    }
}
/* 480px: Larger smartphones. */
@media (max-width: 480px) {
  .footer_icons {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
/* 320px: Small mobile devices. */
@media (max-width: 320px) {
    .intro_text h2 {
        font-size: 1.5rem;
    }

    .intro_text p {
        font-size: 1rem;
    }
}
